---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vic. > ~/Hosts">
  <main>
    <div>
      <h1>~/Hosts</h1>
      <div class="hosts">
        <h2 id="pavilion"> <a href="#pavilion">#</a> Pavilion</h2>
        <p>
          HP Pavilion laptop, has accompanied me to all the hackathons I've gone to.
          <span class="screenshot-tooltip">
            <a href="http://profile.vic.wf/hosts/pavilion.png" target="_blank">[Screenshot]</a>
            <img
              src="http://profile.vic.wf/hosts/pavilion.png"
              alt="HP Pavilion screenshot"
              class="tooltip-image"
              loading="lazy"
            />
          </span>
        </p>
          <code class="neofetch">
{`vic@pavilion ~ > fastfetch
                  -\`                     vic@pavilion
                 .o+\`                    ------------
                \`ooo/                    OS: Arch Linux x86_64
               \`+oooo:                   Host: HP Pavilion Laptop 14-ec0xxx
              \`+oooooo:                  Kernel: Linux 6.19.10-arch1-1
              -+oooooo+:                 Uptime: 2 hours, 30 mins
            \`/:-:++oooo+:                Packages: 1517 (pacman), 52 (nix-default), 51 (flatpak)
           \`/++++/+++++++:               Shell: fish 4.5.0
          \`/++++++++++++++:              Display (BOE09D1): 1920x1080 in 14", 60 Hz [Built-in]
         \`/+++ooooooooooooo/\`            DE: sway:wlroots
        ./ooosssso++osssssso+\`           WM: Sway 1.11 (Wayland)
       .oossssso-\`\`\`\`/ossssss+\`          Cursor: Adwaita
      -osssssso.      :ssssssso.         Terminal: kitty 0.46.2
     :osssssss/        osssso+++.        Terminal Font: NotoSansMono-Regular (12pt)
    /ossssssss/        +ssssooo/-        CPU: AMD Ryzen 7 5700U (16) @ 4.37 GHz
  \`/ossssso+/:-        -:/+osssso+-      GPU: AMD Lucienne [Integrated]
 \`+sso+:-\`                 \`.-/+oso:     Memory: 7.16 GiB / 14.94 GiB (48%)
\`++:.                           \`-/+/    Swap: 563.97 MiB / 4.00 GiB (14%)
.\`                                 \`/    Disk (/): 29.95 GiB / 45.96 GiB (65%) - ext4
                                         Disk (/home): 276.16 GiB / 421.13 GiB (66%) - ext4
                                         Local IP (wlan0): 192.168.68.115/24
                                         Battery (Primary): 69% [Discharging]
                                         Locale: en_US.UTF-8`}
          </code>

        <h2 id="magi"> <a href="#magi">#</a> MAGI</h2>
        <p>Headless home server running on my living room. Mounted using refurbished Xeon components.</p>
        <code class="neofetch">
            {`root@magi:~# fastfetch
         .://:\`              \`://:.             root@magi
       \`hMMMMMMd/          /dMMMMMMh\`           ---------
        \`sMMMMMMMd:      :mMMMMMMMs\`            OS: Proxmox VE bookworm 8.2.10 x86_64
\`-/+oo+/:\`.yMMMMMMMh-  -hMMMMMMMy.\`:/+oo+/-\`    Kernel: Linux 6.8.12-4-pve
\`:oooooooo/\`-hMMMMMMMyyMMMMMMMh-\`/oooooooo:\`    Uptime: 11 days, 6 hours, 45 mins
  \`/oooooooo:\`:mMMMMMMMMMMMMm:\`:oooooooo/\`      Packages: 950 (dpkg)
    ./ooooooo+- +NMMMMMMMMN+ -+ooooooo/.        Shell: bash 5.2.15
      .+ooooooo+-\`oNMMMMNo\`-+ooooooo+.          Terminal: /dev/pts/0
        -+ooooooo/.\`sMMs\`./ooooooo+-            CPU: Intel(R) Xeon(R) E5-2630 v4 (20) @ 3.10 GHz
          :oooooooo/\`..\`/oooooooo:              Memory: 10.72 GiB / 15.52 GiB (69%)
          :oooooooo/\`..\`/oooooooo:              Swap: 6.35 GiB / 8.00 GiB (79%)
        -+ooooooo/.\`sMMs\`./ooooooo+-            Disk (/): 38.86 GiB / 93.93 GiB (41%) - ext4
      .+ooooooo+-\`oNMMMMNo\`-+ooooooo+.          Disk (/mnt/pve/HARD): 576.49 GiB / 1.79 TiB (31%) - ext4
    ./ooooooo+- +NMMMMMMMMN+ -+ooooooo/.        Local IP (vmbr0): 192.168.1.189/24
  \`/oooooooo:\`:mMMMMMMMMMMMMm:\`:oooooooo/\`      Locale: en_US.UTF-8
\`:oooooooo/\`-hMMMMMMMyyMMMMMMMh-\`/oooooooo:\`
\`-/+oo+/:\`.yMMMMMMMh-  -hMMMMMMMy.\`:/+oo+/-\`                            
        \`sMMMMMMMm:      :dMMMMMMMs\`                                    
       \`hMMMMMMd/          /dMMMMMMh\`
         \`://:\`              \`://:\`
`}
        </code>


        <h2 id="nosesisaido"><a href="#nosesisaido">#</a> Nosesisaido</h2>
        <p>Desktop host I built a few years ago. No longer running Windows 11. <span class="screenshot-tooltip">
            <a href="http://profile.vic.wf/hosts/nosesisaido.png" target="_blank">[Screenshot]</a>
            <img
              src="http://profile.vic.wf/hosts/nosesisaido.png"
              alt="Nosesisaido screenshot"
              class="tooltip-image"
              loading="lazy"
            />
          </span></p>
        <code class="neofetch">
          {`❯ fastfetch 
           .-------------------------:                    vic@nosesisaido
          .+=========================.                    ---------------
         :++===++==================-       :++-           OS: CachyOS x86_64
        :*++====+++++=============-        .==:           Kernel: Linux 6.19.10-1-cachyos
       -*+++=====+***++==========:                        Uptime: 43 seconds
      =*++++========------------:                         Packages: 1705 (pacman), 92 (nix-user), 30 (flatpak)
     =*+++++=====-                     ...                Shell: fish 4.5.0
   .+*+++++=-===:                    .=+++=:              Display (24E3): 1920x1080 in 24", 165 Hz [External]
  :++++=====-==:                     -*****+              DE: sway:wlroots
 :++========-=.                      .=+**+.              WM: Sway 1.11 (Wayland)
.+==========-.                          .                 Theme: Breeze-Dark [GTK2], Breeze [GTK3]
 :+++++++====-                                .--==-.     Icons: breeze-dark [GTK2/3/4]
  :++==========.                             :+++++++:    Font: Noto Sans (10pt) [GTK2/3/4]
   .-===========.                            =*****+*+    Cursor: breeze (24px)
    .-===========:                           .+*****+:    Terminal: kitty 0.46.2
      -=======++++:::::::::::::::::::::::::-:  .---:      Terminal Font: NotoSansMono-Regular (11pt)
       :======++++====+++******************=.             CPU: AMD Ryzen 5 5600G (12) @ 4.46 GHz
        :=====+++==========++++++++++++++*-               GPU: AMD Radeon Vega Series / Radeon Vega Mobile Series [Integrated]
         .====++==============++++++++++*-                Memory: 1.28 GiB / 27.29 GiB (5%)
          .===+==================+++++++:                 Swap: 0 B / 27.29 GiB (0%)
           .-=======================+++:                  Disk (/): 320.21 GiB / 929.51 GiB (34%) - btrfs
             ..........................                   Local IP (enp42s0): 192.168.68.116/24
                                                          Locale: en_GB.UTF-8`}
        </code>
        <h2 class="alum"><a href="#alum">#</a> Alum</h2>
        <p>My first host, my middle school laptop featuring an Intel Celeron. Got me started into coding, right now running NixOS. I no longer use it as much in favor of Pavilion.</p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .strike {
    text-decoration: line-through;
  }
  main {
    margin-top: 60px;
    max-width: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0 auto;
    max-width: 1200px !important;
    padding: 20px;
  }
  .hosts {
    padding: 10px;
    margin-top: 20px;
  }
  .hosts > p {
    padding-bottom: 20px;
  }
  .hosts > h2 {
    padding-top: 20px;
  }
  h1 {
    padding: 10px 0px 10px 0px;
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    padding-top: 10px;
  }

  a {
    text-decoration: none;
	color: var(--dark-ola);
	@media (prefers-color-scheme: dark) {
        color: var(--white-ola);
    }

  }

  ul {
    line-height: 25px;
  }
  li {
    margin-left: 30px;
  }

  .neofetch {
    color: #c6d0f5;
    background-color: #303446;
    margin: 30px;
    padding: 20px;
    white-space: pre;
    display: block;
    overflow: auto;

  }

  .screenshot-tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip-image {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    width: min(420px, 80vw);
    border-radius: 6px;
    border: 1px solid #303446;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.15s ease;
    z-index: 20;
  }
  .tooltip-top {
    bottom: calc(100% + 8px);
    top:auto;
  }

  .screenshot-tooltip:hover .tooltip-image,
  .screenshot-tooltip:focus-within .tooltip-image {
    opacity: 1;
    visibility: visible;
  }


@media (max-width: 500px) {

    .neofetch {
        margin: 5px;
    }
    main {
        width: 100%;
    margin-bottom: 60px;

    }    
  }

</style>
