---
import Card from "../components/Dev/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
// Projects: Fumo-API, Charta, Johnny-customs, professor bloom, badge battle, termpet, http-ostrich, slack urban dictionary, lifx admin, CFET, slack only once
---

<Layout title="Vic. > ~/Dev">
  <main>
    <div>
      <h1>~/Projects</h1>
      <p>Some of the public stuff I have created or contributed to.</p>
      <div class="projects">
        <div id="fumoapi">
          <h2>Fumo-API</h2>

          <ul>
            <li>
              "API" of images of fumos (japanese Tohou plushes) using Rust.
            </li>
            <li>
              <b>Technologies:</b> Rust, Cloudflare Workers, Svelte, diesel.rs, PSQL and
              axum.
            </li>
            <li>
              Source available at <a
                href="https://github.com/Nosesisaid/fumo-API/tree/v3"
                >github:Nosesisaid/Fumo-API</a>
            </li>
          </ul>
        </div>
                <div id="JCS">
          <h2>Johnny-customs</h2>

          <ul>
            <li>
              Community website for Hack Club members to share their experiences regarding import taxes, customs, and shipping fees.
            </li>
            <li>
              <b>Technologies:</b> Typescript, Next.js, Drizzle ORM, PSQL and Mantine.
            </li>
            <li>
              Source available at <a
                href="https://github.com/v1ctorio/johnny-customs"
                >github:v1ctorio/johnny-customs</a>
            </li>
          </ul>
        </div>
        <div id="CFET">
          <h2>Cloudflare Email Thingie</h2>

          <ul>
            <li>
              Native Android Kotlin Material 3 app for managing your Cloudflare email routing.
            </li>
            <li>
              <b>Technologies:</b> Kotlin, Jetpack Compose and the Cloudflare REST API.
            </li>
            <li>
              Source available at <a
                href="https://github.com/v1ctorio/cfet"
                >github:v1ctorio/CFET</a>
            </li>
          </ul>
        </div>
                <div id="lifxadmin">
          <h2>LIFX-Admin</h2>

          <ul>
            <li>
              Discord bot to automatically manage LIFX's smart lights.
            </li>
            <li>
              <b>Technologies:</b> Nodejs, yarn, Discord API and LIFX REST API.
            </li>
            <li>
              Source available at <a
                href="https://github.com/v1ctorio/lifx-admin"
                >github:v1ctorio/lifx-admin</a>
            </li>
          </ul>
        </div>
        <div id="http-ostrich">
          <h2>http-Ostrich</h2>

          <ul>
            <li>
              The ultimate fast ready to use HTTP server for easily distributing files inside a network.
            </li>
            <li>
              <b>Technologies:</b> Go, go HTTP standard library.
            </li>
            <li>
              Source available at <a
                href="https://github.com/v1ctorio/http-ostrich"
                >github:v1ctorio/http-ostrich</a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </main>
</Layout>

<style>
  .strike {
    text-decoration: line-through;
  }
  main {
    margin-top: 60px;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  body {
    margin: 0 auto;
    max-width: 1200px !important;
    padding: 20px;
  }
  h1 {
    padding: 10px 0px 10px 0px;
    font-size: 50px;
  }
  p {
    padding-top: 10px;
  }

  a {
    text-decoration: none;
    color: rgb(2, 132, 199);
  }
  .projects {
    padding-top: 30px;

  }
  .projects > div {
    padding-top: 20px;
  }

  @media (min-width: 900px) {
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  ul {
    line-height: 25px;
  }
  li {
    margin-left: 30px;
  }
</style>
