---
 export function getStaticPaths() {
   return [
     {params: {dog: 'clifford'}},
     {params: {dog: 'rover'}},
     {params: {id: 'spot'}},
   ];
 }
const { id } = Astro.params;
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import { type Post } from "../../types";
const post: Post = await fetch(`http://vic.hackclub.app/post/${id}`).then((res) => res.json());
---
<ArticleLayout title= {"Post" + post.date}>
    <div>
    <main>
        <h1>{"Post" + post.date}</h1>
        <p>{post.content}</p>
        <p>{post.date}</p>
    </main>
</div>
