---
// export function getStaticPaths() {
//   return [
//     {params: {dog: 'clifford'}},
//     {params: {dog: 'rover'}},
//     {params: {id: 'spot'}},
//   ];
// }
const allPosts:Post[] = await fetch('http://localhost:8080/posts').then((res) => res.json());
let postsArray: Array<Object> = []
  for (let p in allPosts) {
	postsArray.push({params: {id: allPosts[p]._id.$oid}})
  }

console.log({postsArray});
export function getStaticPaths() {
  let postsArray = allPosts.map((post) => ({ params: { id: post._id.$oid } }));
}
const { id } = Astro.params;
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import { type Post } from "../../types";
const post: Post = await fetch(`http://localhost:8080/post/${id}`).then((res) => res.json());
---
<ArticleLayout title= {"Post" + post.date}>
    <div>
    <main>
        <h1>{"Post" + post.date}</h1>
        <p>{post.content}</p>
        <p>{post.date}</p>
    </main>
</div>